<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/controllers")
</head>
<body ng-app='app' ng-controller="mainController">
    <div class="navbar navbar-inverse navbar-fixed-top navigation col-md-8">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img class="img-responsive" style="height: 60px;" src="~/images/logo.png" alt="" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("HOME", "Index", "Home", null, null, null, new { area = "" }, null)</li>
                    <li>@Html.ActionLink("CALCULATOR", "Index", "Home", null, null, "calculator", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("SERVICE", "Index", "Home", null, null, "service", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("PROCESS", "Index", "Home", null, null, "process", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("OURTEAM", "Index", "Home", null, null, "team", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("CONTACT", "Index", "Home", null, null, "contact", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", null, null, null, new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <footer>
            <div class="footer-container">
                    <div class="footer-left col-md-4">
                        <div class="logo-left"></div>
                        <h1 class="brandname-left">MAV EXPRESS</h1>
                        <span>GL has a menu of supply chain solutions that can optimize the effectiveness of your product promotion, and reduce the cost of your packaging and distribution as well as your carbon footprint.</span>
                    </div>
                    <div class="footer-right col-md-7 col-md-offset-1">
                        <div class="footer-menu col-md-4">
                            <h2>HOME</h2>
                            <h4>Calculator</h4>
                            <h4>Process</h4>
                            <h4>Service</h4>
                        </div>
                        <div class="footer-menu col-md-4">
                            <h2>ABOUT</h2>
                            <h4>About Mavex</h4>
                            <h4>Our Team</h4>
                            <h4>Supplier</h4>
                        </div>
                        <div class="footer-menu col-md-4">
                            <h2>SITEMAP</h2>
                            <h4>Company</h4>
                            <h4>Contact us</h4>
                            <h4>Media</h4>
                        </div>
                    </div>
            </div>
            <p>&copy; @DateTime.Now.Year - MAV Express All Rights Reserved</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
